/day01/target
day01/input.txt
/day02/target
day02/input.txt
/day03/target
day03/input.txt
/day04/target
day04/input.txt
/day05/target
day05/input.txt
/day06/target
day06/input.txt
/day07/target
day07/input.txt
/day08/target
day08/input.txt
/day09/target
day09/input.txt
/day10/target
day10/input.txt
